$family-primary: $font-basic;

@import "~normalize-scss";

html {
  background-color: $color-background;
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-basic;
  position: relative;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

ul, ol {
  padding: 0;
}




#root {
  position: relative;
  overflow: auto;
  min-height: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

#btn-add {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $key-color;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  box-shadow: rgba(#000, 0.156863) 0 3px 10px, rgba(#000, 0.227451) 0 3px 10px;
}
