// Forms

.input,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 0;
  color: #363636;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

.input:hover,
.textarea:hover {
  border-color: #b5b5b5;
}

.input:active, .input:focus, .input.is-active,
.textarea:active,
.textarea:focus {
  border-color: #00d1b2;
  outline: none;
}


.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #363636;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  border-color: #b5b5b5;
}

.button:active, .button:focus, .button.is-active {
  border-color: #00d1b2;
  outline: none;
}

.button[disabled], .button.is-disabled {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  cursor: not-allowed;
  pointer-events: none;
}

.button[disabled]::-moz-placeholder, .button.is-disabled::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.button[disabled]::-webkit-input-placeholder, .button.is-disabled::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.button[disabled]:-moz-placeholder, .button.is-disabled:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.button[disabled]:-ms-input-placeholder, .button.is-disabled:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
