.header {
  font-size: 12px;
  font-family: $font-basic;
  color: $color-primary;
  margin-top: 60px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}


.app-name {
  width: 100%;
  padding: 0.5em 1em;

  color: $key-color;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
  border: 2px solid $key-color;
}

.icon {
  fill: $color-primary;
}

.logo {
  min-width: 20%;
}
.search {
  width: 30%;
  margin-left: 20px;
  border-bottom: 2px solid $key-color;
  color: $key-color;
  i {
    font-size: 18px;
  }
}


#search-input {
  border: 0;
  outline: none;
  width: calc(100% - 50px);
  padding: 0.5em;
  font-family: $font-basic;
  font-size: 18px;
  color: $key-color;
}



.navigation {
  display: none;

  a {
    display: inline-block;
    margin-right: 2.2em;
    color: #333;
    font-family: $font-basic;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }

}


